/* ant-button */
.ant-btn-primary {
  color: #fff;
  background-color: #1677ff !important;
}

/* antd search */
.top-10-meals .ant-input-search-button,
.top-10-meals .ant-input-clear-icon {
  display: grid;
  place-items: center;
}

.top-10-meals .ant-input-group-addon,
.top-10-meals .ant-btn-primary {
  background-color: #f76f14 !important;
}

.top-10-meals .ant-input-search-button:hover,
.top-10-meals .ant-input-search-button:active {
  background-color: #fe6600 !important;
}
