/* ant-button */
.ant-btn-primary {
  color: #fff;
  background-color: #1677ff !important;
}

/* antd search */
.top-10-meals .ant-input-search-button,
.top-10-meals .ant-input-clear-icon {
  display: grid;
  place-items: center;
}

.top-10-meals .ant-input-group-addon,
.top-10-meals .ant-btn-primary {
  background-color: #f76f14 !important;
}

.top-10-meals .ant-input-search-button:hover,
.top-10-meals .ant-input-search-button:active {
  background-color: #fe6600 !important;
}

/* antd card */
.ant-card {
  border: 1px solid #d2c0c0 !important;
}

/* scroll bar */
/* width */
::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #edf2f7;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a0aec0;
  border-radius: 100vh;
  border: 3px solid #edf2f7;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8899ae;
}
